<!-- wp:template-part {"slug":"header","tagName":"header","SWTTransparentHeader":true} /-->
<!-- wp:pattern {"slug":"kafco/hero-banner"} /-->
<!-- wp:pattern {"slug":"kafco/three-column-featured"} /-->
<!-- wp:pattern {"slug":"kafco/alternate-image-text"} /-->
<!-- wp:pattern {"slug":"kafco/testimonials"} /-->
<!-- wp:pattern {"slug":"kafco/featured-logos"} /-->
<!-- wp:pattern {"slug":"kafco/split-image-right"} /-->
<!-- wp:pattern {"slug":"kafco/faq"} /-->
<!-- wp:pattern {"slug":"kafco/post-grid"} /-->
<!-- wp:pattern {"slug":"kafco/wide-banner-with-button"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->